.heading {
    width: 100%;
    text-align: left;
    font-size: 30px;
    border: 2px solid black;
}

.heading h3 {
    display: inline;
}

.heading button {
    float: right;
    border: 2px solid black;
}

#bigMario {
    width: 100%;
}

#start, #status { 
    font-size: 22px;
}

h4 {
    background-color: aliceblue;
    line-height: 2;
    margin: 0;
}

.modal-dialog {
    width: 90%;
}

.instructionImage {
    display: inline-block;
    width: 45%;
}

video {
    background-image: url(game_console.png);
    background-size: cover;
    background-position: center;
    padding: 25px;
}